<div class="container">
  <mat-card class="card-container">
    <form [formGroup]="patientForm" (ngSubmit)="onSubmit()" class="form-container">
      <input type="hidden" formControlName="id">

      <div class="form-field-row">
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput type="text" formControlName="nom" required>
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Prénom</mat-label>
            <input matInput type="text" formControlName="prenom" required>
          </mat-form-field>
        </div>
      </div>

      <div class="form-field-row">
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Adresse</mat-label>
            <input matInput type="text" formControlName="adresse" required>
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>CIN</mat-label>
            <input matInput type="text" formControlName="cin" required>
          </mat-form-field>
        </div>
      </div>

      <div class="form-field-row">
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Sexe</mat-label>
            <mat-select id="sexe" name="sexe" ngModel required>
              <mat-option value="Homme">Homme</mat-option>
              <mat-option value="Femme">Femme</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Téléphone</mat-label>
            <input matInput type="text" formControlName="telephone" required>
          </mat-form-field>
        </div>
      </div>

      <div class="form-field-row">
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Antécédent</mat-label>
            <mat-select formControlName="antecedent_id" required>
              <mat-option *ngFor="let antecedent of antecedents" [value]="antecedent.id">
                {{ antecedent.nom }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Couverture</mat-label>
            <mat-select formControlName="couverture_id" required>
              <mat-option *ngFor="let couverture of couvertures" [value]="couverture.id">
                {{ couverture.type }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="form-field">
        <mat-form-field appearance="outline">
          <mat-label>Provenance</mat-label>
          <mat-select formControlName="provenance_id" required>
            <mat-option *ngFor="let provenance of provenances" [value]="provenance.id">
              {{ provenance.nom }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-actions">
        <button mat-raised-button type="submit" color="accent">Modifier</button>
      </div>
    </form>
  </mat-card>
</div>
