<mat-horizontal-stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput type="text" formControlName="name" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext aria-label="Suivant">Suivant</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious aria-label="Précédent">Précédent</button>
        <button mat-button matStepperNext aria-label="Suivant">Suivant</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Mot de Passe</mat-label>
        <input matInput type="password" formControlName="password" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious aria-label="Précédent">Précédent</button>
        <button mat-raised-button type="submit" color="primary">Ajouter</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
