<!-- login.component.html -->
<div class="auth-container" *ngIf="!showOtpForm">
  <mat-card class="auth-card">
    <img src="assets/logo3.png" class="logo-image" alt="Logo">
    <h2>Authentification</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Mot de Passe</mat-label>
        <input matInput [type]="passwordFieldType" formControlName="password" required>
        <button type="button" mat-icon-button (click)="togglePasswordVisibility()">
          <mat-icon>{{ passwordFieldType === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">S'authentifier</button>
    </form>
  </mat-card>
</div>

<div class="auth-container" *ngIf="showOtpForm">
  <mat-card class="auth-card">
    <h2>Entrer le code de verification </h2>
    <form [formGroup]="otpForm" (ngSubmit)="onSubmitOtp()">
      <mat-form-field appearance="fill">
        <mat-label>Code</mat-label>
        <input matInput formControlName="otp" required>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Envoyer</button>
    </form>
  </mat-card>
</div>
