<h2 mat-dialog-title class="dialog-title">Consultation</h2>

<mat-dialog-content>
  <ng-container *ngIf="!showStepper">
    <div class="action-container">
      <button mat-raised-button color="primary" (click)="onAddConsultationClick()">Ajouter une Consultation</button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Date Consultation Column -->
      <ng-container matColumnDef="date_consultation">
        <th mat-header-cell *matHeaderCellDef>Date de Consultation</th>
        <td mat-cell *matCellDef="let element">{{element.date_consultation | date:'short':'':''}}</td>
      </ng-container>

      <!-- Prestataire Column -->
      <ng-container matColumnDef="prestataire">
        <th mat-header-cell *matHeaderCellDef>Prestataire</th>
        <td mat-cell *matCellDef="let element">{{element.prestataire_id}}</td>
      </ng-container>

      <!-- Motif Consultation Column -->
      <ng-container matColumnDef="tabagisme">
        <th mat-header-cell *matHeaderCellDef>Tabagisme</th>
        <td mat-cell *matCellDef="let element">{{element.tabagisme}}</td>
      </ng-container>

      <!-- Signes Fonctionnels Column -->
      <ng-container matColumnDef="diabete">
        <th mat-header-cell *matHeaderCellDef>Diabete</th>
        <td mat-cell *matCellDef="let element">{{element.diabete}}</td>
      </ng-container>

      <!-- Signes Physiques Column -->
      <ng-container matColumnDef="glycemie_j">
        <th mat-header-cell *matHeaderCellDef>Glycemie</th>
        <td mat-cell *matCellDef="let element">{{element.glycemie_j}}</td>
      </ng-container>

      <!-- Diagnostics Column -->
      <ng-container matColumnDef="cholesterol_total_mol">
        <th mat-header-cell *matHeaderCellDef>Cholesterol total</th>
        <td mat-cell *matCellDef="let element">{{element.cholesterol_total_mol}}</td>
      </ng-container>

      <!-- Examens Paracliniques Column -->
      <ng-container matColumnDef="dateRendezVous">
        <th mat-header-cell *matHeaderCellDef>Date de Rendez-Vous</th>
        <td mat-cell *matCellDef="let element">{{element.date_rendez_vous | date:'short':'':''}}</td>
      </ng-container>

      <!-- Résultats Examens Column -->
      <ng-container matColumnDef="complication">
        <th mat-header-cell *matHeaderCellDef>Complication</th>
        <td mat-cell *matCellDef="let element">{{element.complication}}</td>
      </ng-container>

      <!-- Traitements Prescrits Column -->
      <ng-container matColumnDef="specialite">
        <th mat-header-cell *matHeaderCellDef>Specialite</th>
        <td mat-cell *matCellDef="let element">{{element.specialite}}</td>
      </ng-container>

      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </ng-container>

  <ng-container *ngIf="showStepper">
    <mat-horizontal-stepper linear>
      <!-- Étape 2 : Détails de la consultation -->
      <mat-step [stepControl]="consultationFormGroup">
        <form [formGroup]="consultationFormGroup">
          <ng-template matStepLabel>Détails de la consultation</ng-template>

          <mat-form-field appearance="fill">
            <mat-label>Date de Consultation</mat-label>
            <input matInput [matDatepicker]="pickerRendezVous" formControlName="dateConsultation" required>
            <mat-datepicker-toggle matSuffix [for]="pickerRendezVous"></mat-datepicker-toggle>
            <mat-datepicker #pickerRendezVous></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Prestataire</mat-label>
            <mat-select formControlName="prestataire" required>
              <mat-option *ngFor="let prestataire of docteurList" [value]="prestataire.id">
                {{ prestataire.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Tabagisme</mat-label>
            <mat-select formControlName="tabagisme" required>
              <mat-option *ngFor="let option of tabagismeOptions" [value]="option">
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Diabète</mat-label>
            <mat-select formControlName="diabete" required>
              <mat-option *ngFor="let option of diabeteOptions" [value]="option">
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="button-group">
            <button mat-button matStepperPrevious>Retour</button>
            <button mat-button matStepperNext [disabled]="!consultationFormGroup.valid">Suivant</button>
          </div>
        </form>
      </mat-step>


      <!-- Étape 3 : Examen clinique -->
      <mat-step [stepControl]="clinicalFormGroup">
        <form [formGroup]="clinicalFormGroup">
          <ng-template matStepLabel>Examen clinique</ng-template>

          <mat-form-field appearance="fill" class="small-form-field">
            <mat-label>Poids (kg):</mat-label>
            <textarea matInput formControlName="poids" required></textarea>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Taille (m):</mat-label>
            <textarea matInput formControlName="tailleM" required></textarea>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Taille (cm):</mat-label>
            <textarea matInput formControlName="tailleC"></textarea>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Tour de taille (cm):</mat-label>
            <textarea matInput formControlName="tourTaille"></textarea>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Fréquence Cardiaque (Batt/mn):</mat-label>
            <textarea matInput formControlName="freqC"></textarea>
          </mat-form-field>

          <mat-form-field appearance="fill" class="small-form-field">
            <mat-label>PAS (mmHG):</mat-label>
            <textarea matInput formControlName="pas" required></textarea>
          </mat-form-field>

          <mat-form-field appearance="fill" class="small-form-field">
            <mat-label>PAD (mmHG):</mat-label>
            <textarea matInput formControlName="pad" required></textarea>
          </mat-form-field>

          <mat-form-field appearance="fill" class="small-form-field">
            <mat-label>Souffle</mat-label>
            <textarea matInput formControlName="souffle" required></textarea>
          </mat-form-field>

          <mat-form-field appearance="fill" class="small-form-field">
            <mat-label>Complication</mat-label>
            <textarea matInput formControlName="complication" required></textarea>
          </mat-form-field>

          <div class="button-group">
            <button mat-button matStepperPrevious>Retour</button>
            <button mat-button matStepperNext [disabled]="!clinicalFormGroup.valid">Suivant</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="paraclinicalFormGroup">
        <ng-template matStepLabel>Examens Paraclinique</ng-template>
        <form [formGroup]="paraclinicalFormGroup">
          <mat-tab-group>
            <mat-tab label="Bilan glycémique">
              <mat-form-field>
                <mat-label>Glycémie à jeun (g/l)</mat-label>
                <input matInput formControlName="glycemieJ">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Hémoglobine glyquée (%)</mat-label>
                <input matInput formControlName="hemoglobine">
              </mat-form-field>
            </mat-tab>

            <mat-tab label="Bilan lipidique">
              <div class="tab-content">
                <div class="section">
                  <mat-form-field appearance="fill">
                    <mat-label>Cholestérol total</mat-label>
                    <div class="form-fields">
                      <mat-form-field appearance="fill">
                        <mat-label>(mmol/l)</mat-label>
                        <input matInput formControlName="cholesterolTotalMol">
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>(g/l)</mat-label>
                        <input matInput formControlName="cholesterolTotalG">
                      </mat-form-field>
                    </div>
                  </mat-form-field>
                </div>

                <div class="section">
                  <mat-form-field appearance="fill">
                    <mat-label>HDL-Cholestérol</mat-label>
                    <div class="form-fields">
                      <mat-form-field appearance="fill">
                        <mat-label>(mmol/l)</mat-label>
                        <input matInput formControlName="hdlMol">
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>(g/l)</mat-label>
                        <input matInput formControlName="hdlG">
                      </mat-form-field>
                    </div>
                  </mat-form-field>
                </div>

                <div class="section">
                  <mat-form-field appearance="fill">
                    <mat-label>LDL-Cholestérol</mat-label>
                    <div class="form-fields">
                      <mat-form-field appearance="fill">
                        <mat-label>(mmol/l)</mat-label>
                        <input matInput formControlName="ldlMol">
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>(g/l)</mat-label>
                        <input matInput formControlName="ldlG">
                      </mat-form-field>
                    </div>
                  </mat-form-field>
                </div>

                <div class="section">
                  <mat-form-field appearance="fill">
                    <mat-label>Triglycérides</mat-label>
                    <div class="form-fields">
                      <mat-form-field appearance="fill">
                        <mat-label>(mmol/l)</mat-label>
                        <input matInput formControlName="triglyceridesMol">
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>(g/l)</mat-label>
                        <input matInput formControlName="triglyceridesG">
                      </mat-form-field>
                    </div>
                  </mat-form-field>
                </div>
              </div>
            </mat-tab>


            <mat-tab label="Bilan rénal">
              <div class="section">
                <mat-form-field appearance="fill">
                  <mat-label>Creatinine</mat-label>
                  <div class="form-fields">
                    <mat-form-field appearance="fill">
                      <mat-label>(mg/l)</mat-label>
                      <input matInput formControlName="creatineM">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                      <mat-label>(umol/l)</mat-label>
                      <input matInput formControlName="creatinel">
                    </mat-form-field>
                  </div>
                </mat-form-field>
              </div>
              <div class="section">
              <mat-form-field appearance="fill">
                <mat-label>Uree</mat-label>
                <div class="form-fields">
                  <mat-form-field appearance="fill">
                    <mat-label>(g/l)</mat-label>
                    <input matInput formControlName="ureeL">
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>(mg/l)</mat-label>
                    <input matInput formControlName="ureeLG">
                  </mat-form-field>
                </div>
              </mat-form-field>
            </div>
              <mat-form-field>
                <mat-label>Debit filtartion glomerulaire:</mat-label>
                <input matInput formControlName="filtrationGlo">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Bandelette urinaire:</mat-label>
                <input matInput formControlName="bonduletteUri">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Albuminurie (g/24h):</mat-label>
                <input matInput formControlName="albuminurie">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Proteinurie de 24h(g/24h):</mat-label>
                <input matInput formControlName="proteinurie">
              </mat-form-field>
            </mat-tab>

            <mat-tab label="Bilan hépatique">
              <div class="section">
                <mat-form-field appearance="fill">
                  <mat-label>Transaminases</mat-label>
                  <div class="form-fields">
                    <mat-form-field appearance="fill">
                      <mat-label>ASAT (UI/l)</mat-label>
                      <input matInput formControlName="asat">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                      <mat-label>ALAT(UI/l)</mat-label>
                      <input matInput formControlName="alat">
                    </mat-form-field>
                  </div>
                </mat-form-field>
              </div>
            </mat-tab>

            <mat-tab label="Bilan thyroïdien">
              <mat-form-field>
                <mat-label>TSH(mUI/L)</mat-label>
                <input matInput formControlName="tsh">
              </mat-form-field>
            </mat-tab>

            <mat-tab label="Autres">
              <mat-form-field>
                <mat-label>Kaliémie (mEq/l)</mat-label>
                <input matInput formControlName="kaliemie">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Vitamine D (ng/ml)</mat-label>
                <input matInput formControlName="vitamineD">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Acide urique (mg/l)</mat-label>
                <input matInput formControlName="acideUrique">
              </mat-form-field>
            </mat-tab>

            <mat-tab label="ECG & FO">
                <mat-form-field>
                  <mat-label>Résultats ECG</mat-label>
                  <textarea matInput formControlName="ecgResults"></textarea>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Résultats FO</mat-label>
                  <textarea matInput formControlName="foResults"></textarea>
                </mat-form-field>
            </mat-tab>
          </mat-tab-group>
          <div class="button-group">
            <button mat-button matStepperPrevious>Précédent</button>
            <button mat-button matStepperNext>Suivant</button>
          </div>
        </form>
      </mat-step>



      <!-- Étape 5 : Plan de traitement -->
      <mat-step [stepControl]="treatmentFormGroup">
        <form [formGroup]="treatmentFormGroup">
          <ng-template matStepLabel>Traitements</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Mesures hygieno-dietetiques:</mat-label>
            <mat-select formControlName="mesuresHyg" required>
              <mat-option *ngFor="let m of mesureHygienoDiabetiqueOptions" [value]="m">
                {{ m }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="small-form-field">
            <mat-label>Anti_Diabetique</mat-label>
            <textarea matInput formControlName="antiDiabetique" required></textarea>
          </mat-form-field>

          <mat-form-field appearance="fill" class="small-form-field">
            <mat-label>Traitement preventif</mat-label>
            <textarea matInput formControlName="traitementPre" required></textarea>
          </mat-form-field>

          <mat-form-field appearance="fill" class="small-form-field">
            <mat-label>Anti_HTA</mat-label>
            <textarea matInput formControlName="antiHTA" required></textarea>
          </mat-form-field>

          <div class="button-group">
            <button mat-button matStepperPrevious>Retour</button>
            <button mat-button matStepperNext>Suivant</button>
          </div>
        </form>
      </mat-step>

      <!-- Étape 6 : Suivi et recommandations -->
      <mat-step [stepControl]="followUpFormGroup">
        <form [formGroup]="followUpFormGroup">
          <ng-template matStepLabel>References</ng-template>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Specialité</mat-label>
            <mat-select formControlName="specialite">
              <mat-option *ngFor="let s of specialiteOptions" [value]="s">
                {{ s }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Date de Prochaine Rendez-Vous</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="dateRendezVous" required>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <div class="button-group">
            <button mat-raised-button color="primary" matStepperPrevious>Retour</button>
            <button mat-raised-button color="accent" (click)="onSubmit()">Soumettre</button>
          </div>
        </form>
      </mat-step>

    </mat-horizontal-stepper>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCloseClick()">Fermer</button>
</mat-dialog-actions>
