.container {
  display: flex;
  justify-content: center;
  padding: 40px 20px;

}

.card-container {
  width: 100%;
  max-width: 650px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-field-row {
  display: flex;
  gap: 20px;
}

.form-field {
  flex: 1;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

mat-form-field {
  width: 100%;
}
