.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 30%;
}

.form-container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.form-field {
  justify-content: center;
  margin-bottom: 16px;
  display: flex;
}

.form-actions {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
